body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

/* navbar logo */
.logoname{
    font-weight: bold;
}

.lewologo a:hover{
    font-weight: bolder;
}

.ux{
    color: #FFE01B;

}

a{
    text-decoration: none;
    color: black;
}

.blogs{
    margin-right: 1.5rem;
}

.prawologo a:hover{
    font-weight: bold;
}

/* navbar position */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 0% 30px 0%;
    background-color: white;
}

.lewologo{
    float: left;
    width: 50%;
    padding-left: 10%;
}

.prawologo{
    float: right;
    width: 30%;
    padding-right: 10%;
    text-align: right;
}

/* anti over main */
main{
    margin-top: 90px;

}





