body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: bisque; */
    margin: 0px;
}

/* navbar logo */
.logoname{
    font-weight: bold;
}

.lewologo a:hover{
    font-weight: bolder;
}

.ux{
    color: #FFE01B;

}

a{
    text-decoration: none;
    color: black;
}

.blogs{
    margin-right: 1.5rem;
}

.prawologo a:hover{
    font-weight: bold;
}

/* navbar position */
nav{
    position: fixed;
    margin: auto;
    top: 0;
    width: 100%;
    padding: 20px 0% 20px 0%;
    background-color: white;
    font-size: 1.4rem;
}

.lewologo{
    float: left;
    width: 50%;
    padding-left: 10%;
}

.prawologo{
    float: right;
    width: 30%;
    padding-right: 10%;
    text-align: right;
}

/* anti over main */
main{
    margin: 100px 13% 0px 13%;
}



/* article settings */
article{
    display: flex;
}

.tytul{
    font-size: 2.8rem;
    font-weight: bold;

}

.podpis{
    font-size: 1.2rem;
}

/* article positions */

.tekst{
    width: 50%;
}

.zdjecie{
    width: 50%;
}

img{
    max-width:90%;
    max-height: 90%;
    padding-left: 28px;
}